<nav>
    <ul>
        <li class="appNav"><a href="/movies">Movies</a></li>
        <li class="appNav"><a href="/categories">Categories</a></li>
        <li class="appNav"><a href="/profile">Profile</a></li>
    </ul>
</nav>