<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
    <title>Movies App - Dashboard</title>
</head>

<body class="container">
    <h1>Welcome to the movies app</h1>
    Movies Loaded
</body>

</html>