<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
    <title>Movies App - Dashboard</title>
</head>

<body class="container">
    <h1>Welcome to the movies app</h1>
    <% include ./partials/header %>
    <h3>Latest Movies</h3>
    <% movies.forEach(function(movie) { %>
        <p><a href="/movie/<%=movie._id%>"><%= movie.name %></a></p>
    <% }); %>
</body>

</html>