<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
    <title>Movies App - Signin</title>
</head>

<body class="container">
    <h1>Welcome to the movies app</h1>
    <div>
        <span>New to movies app? <a href='/register'>Register</a></span>
    </div>
    <form action='/login' method='POST'>
        <input type="email" placeholder="Your email address" name="email" required />
        <input type="password" placeholder="Your password" name="password" required />
        <button type="submit">Login</button>
    </form>
    <%if (errorMessage) { %>
        <p class="error"><%= errorMessage %></p>
    <% } %>
</body>

</html>