<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
    <title>Movies App - Register</title>
</head>

<body class="container">
    <h1>Welcome to the movies app</h1>
    <div>
        <span>Have an account already? <a href='/login'>Login</a></span>
    </div>
    <form action='/register' method='POST'>
        <input type="text" placeholder="Your fullname" name="fullName" required />
        <input type="email" placeholder="Your email address" name="email" required />
        <input type="password" placeholder="Your password" name="password" required />
        <button type="submit">Login</button>
    </form>
</body>

</html>