form {
    margin-top: 1rem;
}

input {
    display: block;
    width: auto;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

button {
    background: blue;
    color: white;
    border-radius: 2rem;
    width: 10rem;
    height: 2rem;
}

.error {
    color: red;
}

.container {
    margin: 0 10rem;
}

img {
    width: 25rem;
}

.movieField {
    text-transform: uppercase;
    font-weight: bold;
}

.appNav {
    text-decoration: none;
    display: inline;
    margin-right: 1rem;
}